.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summer {
    background-color: yellow;
    color: orange;
}

.season-display.summer i {
    color: red;
}

.winter {
    background-color: skyblue;
    color: blue;
}

.season-display.winter i {
    color: darkblue;
}
